/* @import '~node_modules/modern-normalize/modern-normalize.css';
 */
.root {
  --fontFamily: 'Open Sans', sans-serif;
  --fontWeight: 600;
  --fontSize: 18px;
  --lineHeight: 30px;
  --letterSpacing: 0.02em;
  --white: #fff;
  --orange: #ff6c00;
  --darkGrey: #303030;
  --lightGrey: #9da4bd;
}

body {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing);
  color: var(--darkGrey);
  margin: 0;
}
