.fourth-section {
  display: flex;
  flex-direction: row;
  gap: 130px;
  margin: 120px auto 120px 100px;
  justify-content: center;
}

.old-school {
  display: flex;
  gap: 30px;
  width: 370px;
  height: 326px;
}

.clients {
  display: flex;
  gap: 30px;
  flex-direction: column;

  &__list {
    width: 170px;
    height: 133px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
  }

  &__text {
    width: 100px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #303030;
  }

  &__sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ff6c00;
    position: absolute;
  }
}

.awards {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: flex-end;

  &__list {
    width: 170px;
    height: 133px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
  }

  &__text {
    width: 100px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #303030;
  }

  &__sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ff6c00;
    position: absolute;
  }
}

.text-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 425px;

  &__main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  &__main-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #303030;
    margin-left: 80px;
    &::before {
      display: block;
      content: ' ';
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background: #303030;
      margin: 0 0 -8px -80px;
    }
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    margin: 0;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
    margin: 0;
  }
}
