@import './common';

.container {
  margin: 0 auto;
}

.first-section {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
}

.first {
  box-sizing: border-box;
  width: 1070px;
  background-color: transparent;
  background-image: url('../partials/slider.html');
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first {
    background-image: url('../images/first-section-bg@2x.png');
  } 
}*/

.header {
  display: flex;
  flex-direction: row;
  position: relative;

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    margin: 52px auto 0 100px;
    list-style: none;
  }

  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 52px 20px 0 auto;
    list-style: none;
  }

  &__nav-item,
  &__contact-item {
    text-decoration: none;
  }

  &__nav-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
    &:hover,
    &:focus {
      color: #ff6c00;
      cursor: pointer;
    }
  }

  &__contact-item:hover,
  :focus {
    color: #ff6c00;
    cursor: pointer;
  }

  &__nav-list {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 64px;
    margin: 100px 20px 40px 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__nav-link {
    text-align: right;
    letter-spacing: 0.1em;
    color: #9da4bd;
    padding: 0;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #ffffff;
    }
  }

  &__contact-item,
  &__btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  &__btn {
    background: transparent;
    padding: 12px 20px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 182px auto 0 100px;
  position: relative;

  &__icon {
    fill: #9da4bd;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6px;
  }

  &__description {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    padding: 0;
    margin: 0 0 0 80px;
    &::before {
      display: block;
      content: ' ';
      width: 60px;
      height: 1px;
      margin: 5px auto -6px -80px;
      background: currentColor;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9da4bd;
    padding: 0;
    margin: 0;
  }
}

.sidebar {
  display: flex;
  flex-direction: column-reverse;
  height: 680px;
  position: relative;

  &__logo {
    position: absolute;
    top: 32px;
    right: 32px;
  }
}

.sidebar-nav {
  &__icon {
    fill: #000000;
    padding: 0;
    margin: 0;
    transform: rotate(-90deg);
  }

  &__list {
    display: flex;
    gap: 100px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px 60px 0;
    padding: 0;
    &::before {
      display: block;
      content: ' ';
      width: 60px;
      height: 1px;
      background: grey;
      transform: rotate(-90deg);
    }
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #303030;
    transform: rotate(-90deg);
    text-decoration: none;
    &:hover,
    &:focus {
      color: #ff6c00;
      cursor: pointer;
    }

    &__logo {
      position: absolute;
      right: 32px;
      top: 32px;
    }
  }
}
