.second-section {
  width: 1170px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 120px;
  justify-content: center;
}

.second-section__imgs {
  display: flex;
  gap: 30px;
  margin: 120px 0 0 0;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 120px 0 0 0;
  padding: 0;
  width: 410px;
}

.about__main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about__main-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #303030;
  margin: 0;
}

.about__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 0;
  padding: 0;
}

.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
  margin: 0;
  padding: 0;
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
  margin: 0;
  padding: 0;
}

.about__btn {
  background: transparent;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  width: 165px;
}
