.sixth-section {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 120px 0 0 0;

  &__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.photos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 44px 0 120px 0;

  &__item {
    display: block;
  }
}
