.third-section {
  background: #111319;
  background-image: url('../images/second-picture-barberShop.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__icon {
    fill: #9da4bd;
  }

  &__main-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-left: 80px;
    &::before {
      display: block;
      content: ' ';
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background: white;
      margin: 0 0 -8px -80px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 44px;
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    height: 240px;
    list-style: none;
    padding: 30px 20px;
    width: 460px;
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9da4bd;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__rule {
    height: 1px;
    min-width: 60px;
    background: #9da4bd;
    border: none;
    margin: 0 0 10px 0;
    padding: 0;
  }

  &__btn {
    background: transparent;
    padding: 12px 20px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    color: #fff;
    margin: 56px 43% 0 43%;
    width: 164px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
  }
}
