@import './common';
/* @import './example'; */
@import './mixins';
@import './header_hero';
@import './slider';
@import './second_section';
@import './third_section';
@import './fourth_section';
@import './fivth_section';
@import './sixth_section';
@import './seventh_section';
@import './footer';
