<section>
  <div class="container fifth-section">
    <div>
      <div class="barbers">
        <svg class="barbers__icon" width="60" height="1">
          <use href="images\icons.svg#icon-hr"></use>
        </svg>
        <h2 class="barbers__main-title">For true enjoyers of the atmosphere</h2>
      </div>
      <h3 class="barbers__title">Our barbers</h3>
      <ul class="grid">
        <li class="grid__item">
          <img
            class="grid__img"
            src="images/barberShopAction-1.png"
            alt="John Smith"
          />
          <h3 class="grid__title">John Smith</h3>
          <p class="grid__text">Extreme Barber</p>
          <ul class="media-grid">
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                >
                  <use href="images/icons.svg#icon-instagram-2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="23"
                  height="19"
                  x="12"
                  y="13.88"
                >
                  <use href="images/icons.svg#icon-twitter-1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="32"
                  x="17.16"
                  y="12"
                >
                  <use href="images/icons.svg#icon-facebook-1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                >
                  <use href="images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </button>
            </li>
          </ul>
        </li>
        <li class="grid__item">
          <img
            class="grid__img"
            src="images/barberShopAction-2.png"
            alt="Michele Doe"
          />
          <h3 class="grid__title">Michele Doe</h3>
          <p class="grid__text">Extreme Barber</p>
          <ul class="media-grid">
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                >
                  <use href="images/icons.svg#icon-instagram-2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="23"
                  height="19"
                  x="12"
                  y="13.88"
                >
                  <use href="images/icons.svg#icon-twitter-1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="32"
                  x="17.16"
                  y="12"
                >
                  <use href="images/icons.svg#icon-facebook-1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                >
                  <use href="images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </button>
            </li>
          </ul>
        </li>
        <li class="grid__item">
          <img
            class="grid__img"
            src="images/barberShopAction-3.png"
            alt="Alan Black"
          />
          <h3 class="grid__title">Alan Black</h3>
          <p class="grid__text">Extreme Barber</p>
          <ul class="media-grid">
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                >
                  <use href="images/icons.svg#icon-instagram-2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="23"
                  height="19"
                  x="12"
                  y="13.88"
                >
                  <use href="images/icons.svg#icon-twitter-1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="32"
                  x="17.16"
                  y="12"
                >
                  <use href="images/icons.svg#icon-facebook-1"></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="media-grid__btn" type="button">
                <svg
                  class="media-grid__icon"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                >
                  <use href="images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
