<footer>
  <div class="container" id="contact">
    <div class="footer">
      <p class="footer__copyright">&copy;Copyright 2020</p>
      <ul class="footer__list">
        <li>
          <svg class="footer__icon" width="60" height="1">
            <use href="images\icons.svg#icon-hr"></use>
          </svg>
        </li>
        <li>
          <a
            class="footer__social"
            href="https://www.instagram.com/explore/tags/barbershop/"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="footer__social"
            href="https://www.youtube.com/watch?v=btY1rp5w1zs"
            >YouTube</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
