  <section>
        <div class="container second-section" id="about">
          <div class="second-section__imgs">
            <img src="images/barberShop-img1.png" alt="haircut" />
            <img src="images/barberShop-img2.png" alt="haircut" />
          </div>
          <div class="about">
            <div class="about__main">
              <svg class="about__icon" width="60" height="1">
                <use href="images\icons.svg#icon-hr"></use>
              </svg>
              <h3 class="about__main-title">About</h3>
            </div>
            <h2 class="about__title">Best Barbershop in your city</h2>
            <p class="about__description">
              If you want to add more confidence to your image, you should
              definitely visit us.
            </p>
            <p class="about__text">
              We are a team that never stops at what has been achieved and are
              thirsty for changes. And when you fall into the hands of our
              master, you will never be the same again. We are a team that is
              always "on the same wave" with clients. Therefore, we are always
              ready to improve everyone who comes to us!
            </p>
            <button class="about__btn" type="button">ONLINE-BOOKING</button>
          </div>
        </div>
      </section>