<section>
  <div class="container seventh-section">
    <div class="form">
      <h2 class="form__title">Online-booking</h2>
      <div class="form--align-items">
        <input class="form__input" placeholder="Name*" />
        <input class="form__input" placeholder="Phone*" />
      </div>
      <input class="form__input form__input--width" placeholder="Message" />
      <button class="form__btn" type="button">SEND</button>
    </div>
    <div class="contact">
      <h2 class="contact__title">Contacts</h2>
      <address>
        <ul class="address">
          <li class="address__item">
            <svg
              class="address__icon address__icon--map"
              width="24"
              height="24"
            >
              <use href="/src/images/icons.svg#icon-map-pin"></use>
            </svg>
            <a class="address__link address__link--map" href="#"
              >st. Vasilkovaya, 7A Kiev, 08132</a
            >
          </li>
          <li class="address__item">
            <svg class="address__icon" width="24" height="24">
              <use href="/src/images/icons.svg#icon-phonex"></use>
            </svg>
            <a class="address__link" href="tel:+380441111111"
              >+38 044 111 11 11</a
            >
          </li>
          <li class="address__item">
            <svg class="address__icon" width="24" height="24">
              <use href="/src/images/icons.svg#icon-mail"></use>
            </svg>
            <a
              class="address__link address__link--underline"
              href="mailto:barbershop@email.com"
              >barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <div class="hours">
        <svg class="hours__icon" width="60" height="1">
          <use href="/src/images/icons.svg#icon-hr"></use>
        </svg>
        <h2 class="hours__title">Working hours</h2>
      </div>
      <p class="hours__text">Every day from 9:00 to 22:00</p>
    </div>
  </div>
</section>
