<section>
  <div class="container sixth-section" id="barbers">
    <div>
      <div class="action">
        <svg width="60" height="1">
          <use href="/src/images/icons.svg#icon-hr"></use>
        </svg>
        <h3 class="action__title">In Latin, "barba" means "beard"</h3>
      </div>
      <div>
        <ul class="photos">
          <li>
            <img
              class="photos__item"
              src="images/barberInAction1.png"
              alt="Barber Action"
            />
          </li>
          <li>
            <img
              class="photos__item"
              src="images/barberInAction2.png"
              alt="Barber Action"
            />
          </li>
          <li>
            <img
              class="photos__item"
              src="images/barberInAction3.png"
              alt="Barber Action"
            />
          </li>
          <li>
            <img
              class="photos__item"
              src="images/barberInAction4.png"
              alt="Barber Action"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section></section>
