<!-- slider -->
<div class="hero_slider slider">
  <ul class="slider__pagination list">
    <li class="slider__item">
      <a href="#slide-1" onclick="currentSlide(1)"></a>
    </li>
    <li class="slider__item">
      <a href="#slide-2" onclick="currentSlide(2)"></a>
    </li>
    <li class="slider__item">
      <a href="#slide-3" onclick="currentSlide(3)"></a>
    </li>
  </ul>
  <div class="slides">
    <div class="slide fade" id="slide-1">
      <picture class="slide__img">
        <source
          media="(min-width:1280px)"
          srcset="
            /src//images/slider/slide-1-desktop.webp  1x,
            /src/images/slider/slide-1-desktop@2x.jpg 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:768px)"
          srcset="
            /src/images/slider/slide-1-mobile.webp    1x,
            /src/images/slider/slide-1-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width:767px)"
          srcset="
            /src/images/slider/slide-1-mobile.webp    1x,
            /src/images/slider/slide-1-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          srcset="
            /src/images/slider/slide-1-mobile.webp     480w,
            /src/images/slider/slide-1-mobile@2x.jpg   960w,
            /src/images/slider/slide-1-tablet.jpg      609w,
            /src/images/slider/slide-1-tablet@2x.jpg  1218w,
            /src/images/slider/slide-1-mobile@2x.jpg  1125w,
            /src/images/slider/slide-1-desktop@2x.jpg 2250w
          "
          src="/src/images/slider/slide-1-mobile.webp"
          title="Men’s haircut"
          alt="Men’s haircut"
          sizes="(min-width:1280px) 1125px, (min-width:768px) 609px, (max-width:767px) 480px, 100vw"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="slide fade" id="slide-2">
      <picture class="slide__img">
        <source
          media="(min-width:1280px)"
          srcset="
            /src/images/slider/slide-2-desktop.webp    1x,
            /src/images/slider/slide-2-desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:768px)"
          srcset="
            /src/images/slider/slide-2-tablet.webp    1x,
            /src/images/slider/slide-1-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width:767px)"
          srcset="
            /src/images/slider/slide-2-mobile.webp    1x,
            /src/images/slider/slide-2-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          srcset="
            /src/images/slider/slide-1-tablet@2x.jpg   480w,
            /src/images/slider/slide-2-desktop@2x.jpg  960w,
            /src/images/slider/slide-2-tablet.jpg      609w,
            /src/images/slider/slide-1-tablet@2x.jpg  1218w,
            /src/images/slider/slide-2-desktop.jpg    1125w,
            /src/images/slider/slide-2-desktop@2x.jpg 2250w
          "
          src="/src/images/slider/slide-1-tablet@2x.jpg"
          title="Straight razor shave"
          alt="Straight razor shave"
          sizes="(min-width:1280px) 1125px, (min-width:768px) 609px, (max-width:767px) 480px, 100vw"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="slide fade" id="slide-3">
      <picture class="slide__img">
        <source
          media="(min-width:1280px)"
          srcset="
            /src/images/slider/slide-3-desktop.webp    1x,
            /src/images/slider/slide-3-desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:768px)"
          srcset="
            /src/images/slider/slide-3-tablet.webp    1x,
            /src/images/slider/slide-3-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width:767px)"
          srcset="
            /src/images/slider/slide-3-mobile@2x.webp 1x,
            /src/images/slider/slide-3-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          srcset="
            /src/images/slider/slide-3-mobile@2x.jpg   480w,
            /src/images/slider/slide-3-mobile@2x.jpg   960w,
            /src/images/slider/slide-3-tablet.jpg      609w,
            /src/images/slider/slide-3-tablet@2x.jpg  1218w,
            /src/images/slider/slide-3-desktop.jpg    1125w,
            /src/images/slider/slide-3-desktop@2x.jpg 2250w
          "
          src="/src/images/slider/slide-3-mobile@2x.jpg"
          title="Camouflage of gray hair"
          alt="Camouflage of gray hair"
          sizes="(min-width:1280px) 1125px, (min-width:768px) 609px, (max-width:767px) 480px, 100vw"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <ul class="slider__controls list">
    <li class="slider__controls-item">
      <a class="slider__controls-btn" onclick="plusSlides(-1)">Previous</a>
    </li>
    <li class="slider__controls-item">
      <a
        class="slider__controls-btn slider__controls-btn--forward"
        onclick="plusSlides(1)"
        >Following</a
      >
    </li>
  </ul>
</div>
