<section>
  <div class="container third-section" id="services">
    <div class="prices">
      <div class="prices__main">
        <h3 class="rule prices__main-title">
          Spend your time with the best masters
        </h3>
        <h2 class="prices__title">Services and prices</h2>
      </div>
      <ul class="prices__block">
        <li>
          <ul class="prices__list">
            <li class="prices__list-item">
              Men’s haircut<span class="prices__span">from 300 uah.</span>
            </li>
            <li class="prices__list-item">
              Beard trim<span class="prices__span">from 300 uah.</span>
            </li>
            <li class="prices__list-item">
              Mustache trim<span class="prices__span">from 200 uah.</span>
            </li>
            <li class="prices__list-item">
              Straight razor shave<span class="prices__span"
                >from 200 uah.</span
              >
            </li>
          </ul>
        </li>
        <li>
          <ul class="prices__list">
            <li class="prices__list-item">
              Trainee’s haircut<span class="prices__span">from 50 uah.</span>
            </li>
            <li class="prices__list-item">
              Haircut under the nozzle
              <span class="prices__span">from 200 uah.</span>
            </li>
            <li class="prices__list-item">
              Children’s haircut (0-12 y.o.)<span class="prices__span"
                >from 300 uah.</span
              >
            </li>
            <li class="prices__list-item">
              Camouflage of gray Haircut<span class="prices__span"
                >from 200 uah.</span
              >
            </li>
          </ul>
        </li>
      </ul>
      <button class="prices__btn">ONLINE-BOOKING</button>
    </div>
  </div>
</section>
